# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/npm-debug.log
/public/js/codemirror
/public/js/angular-materialize.js
/public/js/angular-ui-router.min.js
/public/js/angular.min.js
/public/js/socket.io.js
