.CodeMirror {
/*	height: 94vh;*/
}

html {
	overflow: hidden;
}

.modal {
	max-height: 100%;
	min-height: 300px !important;
}

.modal-content > div:nth-child(3) .dropdown-content {
	height: 300px !important;
}

.modal-footer {
	margin-top: 180px;
}

